version: "3.9"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: chatbot
      POSTGRES_PASSWORD: chatbot123
      POSTGRES_DB: salesdb
    ports:
      - "5432:5432"
